* {
    box-sizing: border-box;
  }

body {
    /* background-color: aqua; */
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-gap: 20px;
}

.description {
    background-color:hotpink;
}

.button {
    background-color: khaki;
}

.signup {
    background-color: lightskyblue;
}